html {
  overflow-y: scroll; 
}

body {
  margin: 0;
  padding: 5px 0 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(".\/nycmap.png");
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: max-content;
}

.maincontainer {
  width: 1200px;
  min-height: 600px;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: space-around;
}

header {
  width: 1200px;
  background-color: rgba(100, 100, 133, 40%);
  padding: 10px 10px 10px 10px;
  box-shadow: #666 1px 1px 3px inset;
  position: static;
  text-align: center;
}

.leftpanel {
  flex-basis: 50%;
  display: flex;
  flex-flow: column wrap;
  order: 1;
  background-color: rgba(100, 100, 133, 15%);
  padding: 10px 0 0 20px;
  margin: 0 0 0 -10px;
  box-shadow: #666 0 0 2px inset;  
}

.rightpanel {
  flex-basis: 50%;
  display: flex;
  flex-flow: column;
  order: 2;
  padding: 10px 0 0 20px;
  margin: 0 -10px 0 0;
  background-color: rgba(100, 100, 133, 15%);
  box-shadow: #666 0 0 2px inset;
  overflow: auto;  
}

.modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modalContainer {
  background-color: #CCCCCC;
  border: 1px solid #999;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  max-height: 100%;
  width: 800px;
  padding: 5px 20px 20px 20px;
  overflow-y: auto;
}

.large {
  width: 1000px;
  padding: 5px 40px 20px 40px;
}

.modalContainer img {
  height: 75%;
  width: 75%;
  object-fit: contain;
}

img:hover {
  opacity: 80%;
}

input[type="checkbox"] {
  margin: 0 4px 0 12px;
}

.canvas {
 outline: 5px solid black;
}

.styledbutton {
 margin: 20px 0 0 0;
 padding: 3px;
 background-color: #0000EE;
 color: #EEE;
 font-size: 1em;
 box-shadow: 0 0 4px inset #0000CC;
 border: 2px solid #0000BB;
 border-radius: 6px;
}

.textbox {
  display: flex;
  flex-direction: column;
}

input[type="time"] {
  width: 10vw;
}

.textbox[disabled=true] {
  display: none;
}

ul {
  padding-inline-start: 5px;
}

.paintingModal ul {
  padding-inline-start: 0;
}

.paintingModal li {
  font-size: 0.9rem;
  list-style-type: none;
}

.paintList {
  display: flex;
  list-style-type: none;
}

.swatchLabel {
  transform: translateY(6px);
}

.gallery {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 15px 0 0 0;
}

.gallery img {
  width: 25%;
  height: 25%;
  object-fit: contain;
}

.bordered {
  border: 2px solid #111;
}

.footnote {
  font-size: 0.95rem;
  font-weight: 700;
}

.footnote-text {
  font-size: 0.8rem;
}